ion-content {
  --background: transparent;
}

.qr-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  padding-top: 20vh;

  h2 {
    margin-bottom: 20px;
  }

  qrcode {
    max-width: 80%;
  }

  ion-button {
    margin-top: 20px;
  }
}
