<ion-content class="ion-padding ion-text-center">
  <div class="custom-padding">
    @if (isLoading) {
      <ion-spinner name="bubbles"></ion-spinner>
    }

    <h2>Registro de Usuario</h2>

    <ion-item>
      <ion-label position="floating">Correo Electrónico</ion-label>
      <ion-input type="email" [(ngModel)]="usuario"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="clave"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Tipo de Usuario</ion-label>
      <ion-select [(ngModel)]="tipo">
        <ion-select-option value="Docente">Docente</ion-select-option>
        <ion-select-option value="Alumno">Alumno</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button expand="block" (click)="registrar()">Registrarse</ion-button>

    <ion-button fill="clear" routerLink="/inicio-de-sesion">
      ¿Ya tienes cuenta? Inicia sesión
    </ion-button>
  </div>
</ion-content>
